{% extends "!layout.html" %}

{% block extrahead %}
<meta name="msvalidate.01" content="4D407C52CD468F953546595E1C72FB7D" />
<meta name="google-site-verification" content="oAjASC5FTRqFmMWzYEYihj38fAthdAtTeDu-WcgZv8U" />
  <meta name="description" content="Recover your Apple ID or reset your password easily using iforgot.apple.com. Secure and quick account recovery for iPhone, iPad, Mac, and Apple services.">
    <meta name="keywords" content="iforgot.apple.com" />
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
